* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 140vh;
    background-size: cover;
    background-position: center;
    position:absolute;
    top: 0;
    z-index: 0;
}

.banner_ {
    width: 100%;
    height: 140vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 0.5;
    filter: opacity(0.5);
}

.navbar {
    position: relative;
    width: 95%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #ffff;
    left: 0;
    transition: 0.5s;
    bottom: -10px;
}

.navbar ul li:hover::after {
    width: 100%;
}

.fa-regular {
    font-size: 30px;
    padding-left: 40px;
    color: #ffff;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #ffff;   
}

.heading h3 {
    font-size: 30px;
    font-weight: bold;
}

.content {
    /* width: 100%; */
    /* position: absolute;
    top: 50%; */
    transform: translateY(-50%);
    text-align: center;
    color: #ffff;
}

.content p {
    font-size: 35px;
    /* font-weight: bold; */
    /* margin-top: -270px; */
    z-index: 1;
    text-decoration: underline;
}

.button__{
    z-index: 1;
    padding: 10px 20px;
}

.button__ button {
    padding: 10px 10px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.button__ button:hover {
    background-color: #a70606;
    color: #ffff;
}

.tot {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.con {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    color: #ffff;
    margin-top: 60px;
    text-align: center;
    /* margin-left: -20; */
    /* top: 50%; */
}

.context {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    color: #ffff;  
    margin-top: 40px; 
    padding-left: 80px;
    z-index: 1;
}

.context p {
    padding: 20px;
    text-align: justify;
    font-size: 17px;

}

.context ul {
    padding: 10px;
    padding-left: 30px;
    text-align: justify;
    font-size: 17px;
}

#pop {
    position: absolute;
    color: #ffff;
    z-index: 1;
    top: 11%;
    left: 88%;
    border: 1px solid #ffff;
    border-radius: 10px;
    opacity: 0.94;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(50px);
    display: none;
}

#pop ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
    padding: 15px;
    text-align: justify;
    list-style-type: none;
}

#pop ul li {
    cursor: pointer;
}

#user {
    cursor: pointer;
}

.bor {
    border: 1px solid #ffff;
    width: 100%;
}

a {
    text-decoration: none;
    color: #ffff;
}