* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #790303;
}


.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 0;
}

.banner_ {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 0.5;
    filter: opacity(0.5);
}

.navbar {
    position: relative;
    width: 95%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #ffff;
    left: 0;
    transition: 0.5s;
    bottom: -10px;
}

.navbar ul li:hover::after {
    width: 100%;
}

.fa-regular {
    font-size: 30px;
    padding-left: 40px;
    color: #ffff;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #ffff;   
}

.heading h3 {
    font-size: 30px;
    font-weight: bold;
}

/* .models {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    border: #ffff 2px solid;
    width: 40%;
    margin: 0 auto;
    gap: 20px;
    color: #ffff;
    margin-top: 30px;
    border-radius: 30px;
    opacity: 0.94;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(50px);
} */


table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px;
    color: #ffff;
    margin: 70px auto;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    color: #000000;
    background-color: #ffffff;
}

.plots {
    height: 40%;
    width: 40%;
    border-bottom: 20px;
}

.plot {
    /* margin: 0 auto; */
    display: flex;
    gap: 100px;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.heading_ {
    display:  flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    text-align: center;
    margin: 60px auto;
    opacity: 0.94;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(50px);
    width: fit-content;
    border-radius: 10px;
}

.heading_ h1 {
   padding: 10px;
   border-radius: 10px;
}

#pop {
    position: absolute;
    color: #ffff;
    z-index: 1;
    top: 11%;
    left: 88%;
    border: 1px solid #ffff;
    border-radius: 10px;
    opacity: 0.94;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(50px);
    display: none;
}

#pop ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
    padding: 15px;
    text-align: justify;
    list-style-type: none;
}

#pop ul li {
    cursor: pointer;
}

#user {
    cursor: pointer;
}

.bor {
    border: 1px solid #ffff;
    width: 100%;
}

a {
    text-decoration: none;
    color: #ffff;
}