* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #680505;
}


.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 0;
}

.banner_ {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 0.5;
    filter: opacity(0.5);
}

.navbar {
    position: relative;
    width: 95%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #ffff;
    left: 0;
    transition: 0.5s;
    bottom: -10px;
}

.navbar ul li:hover::after {
    width: 100%;
}

.fa-regular {
    font-size: 30px;
    padding-left: 40px;
    color: #ffff;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #ffff;   
}

.heading h3 {
    font-size: 30px;
    font-weight: bold;
}


.content {
    width: 100%;
    /* top: 22%; */
    transform: translateY(-50%);
    text-align: center;
    color: #ffff;
}

.content h2 {
    font-size: 45px;
    /* font-weight: bold; */
    z-index: 1;
}

.content p {
    margin-top: 50px;
    font-size: 20px;
}

.img1 {
    display: flex;
    height: 550px;
}

.img2 {
    display: flex;
    height: 500px
}

.img3 {
    display: flex;
    height: 500px;
}
.black{
    width: 100%;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: #ffff;   
    flex-direction: column;
}
.features{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: #ffff;   
    flex-direction: column;
    margin-bottom: 20px;
}
.feature1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #ffff;
    padding: 0 40px;
}
feature1 img{
    border-radius: 10px;
}
.feature1 .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: auto;
    /* justify-content: flex-end;
    align-items: flex-start; */
}

#pop {
    position: absolute;
    color: #ffff;
    z-index: 1;
    top: 11%;
    left: 88%;
    border: 1px solid #ffff;
    border-radius: 10px;
    opacity: 0.94;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(50px);
    display: none;
}

#pop ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
    padding: 15px;
    text-align: justify;
    list-style-type: none;
}

#pop ul li {
    cursor: pointer;
}

#user {
    cursor: pointer;
}

.bor {
    border: 1px solid #ffff;
    width: 100%;
}

a {
    text-decoration: none;
    color: #ffff;
}